<body>


  <div class="menu__side" id="menu_side">
      <div class="text-center">
        <img src="../../../assets/images/user.png" alt="" width="100">
        <p>Nombre Usuario</p>
      </div>

      <div class="name__page text-center">
        <img src="../../../assets/images/flor-de-loto.png" alt="">
          <h4>Logo<span style="color: #5C54BB;">Tipo</span></h4>
      </div>

      <div class="options__menu">

          <a href="#" class="selected" style="color: #3064DB;">
              <div class="option">
                  <img src="../../../assets/images/casa.png" alt="">
                  <h4>Inicio</h4>
              </div>
          </a>

          <a href="#">
              <div class="option">
                  <img src="../../../assets/images/shopping-cart.png" alt="">
                  <h4>Mercader</h4>
              </div>
          </a>

          <a href="#">
              <div class="option">
                  <img src="../../../assets/images/notes.png" alt="">
                  <h4>Portafolio</h4>
              </div>
          </a>

          <a href="#">
              <div class="option">
                  <img src="../../../assets/images/reloj.png" alt="">
                  <h4>Onboarding</h4>
              </div>
          </a>

          <a href="#">
              <div class="option">
                  <img src="../../../assets/images/llamada-telefonica.png" alt="">
                  <h4>Contacto</h4>
              </div>
          </a>

          <a href="#">
              <div class="option">
                  <img src="../../../assets/images/configuracion.png" alt="">
                  <h4 [routerLink]="['']">Salir</h4>
              </div>
          </a>

      </div>

  </div>

  <script src="js/script.js"></script>
</body>
